__pycache__/
*.pyc

/01_Fear_of_a_Blank_Planet.m4a
/01_Fear_of_a_Blank_Planet.m4a.bak
/02_Wasted_Time-006.mp3
/02_Wasted_Time-006.mp3.bak
/38_Example_9_22.flac
/38_Example_9_22.flac.bak
/Example.wma
/Example.wma.bak
